<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        #footer {
            position: fixed;
            padding: 10px 10px 0px 10px;
            bottom: 0;
            width: 100%;
            height: 40px;
            background: pink;
        }
        body {
            font-family: Georgia, serif;
        }
    </style>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color:burlywood;">
<table style="width:30%">
<tr>
    <th>Count</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Link Details</th>
</tr>
</table>
<p><a href="CustomerDetails.html" th:href="@{CustomerDetails}">Details</a></p>
<footer>
    <div id="footer">Sheridan Collage - Adolfo David Romero
    </div>
</footer>
</body>
</html>